// -------- Variables

$font-family				:			'Roboto', sans-serif;

$primary-color				:			#4b2cb1;
$secondary-color			:			#f7f7f7;

$section-margin				:			5rem;
$sub-section-margin			:			1rem;

$section-padding			:			2rem;
$sub-section-padding		:			1rem;

